.spinner-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px rgba(0,3,0,0.2);
}

span {
  margin-left: 5px;
}
